.container {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}
.menu {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: black;
  transition: all 0.5s;
  font-weight: bold;
}
.menu:hover {
  background-color: black;
  color: white;
}

.a {
  width: 50px;
  height: 25px;
}
.b {
  width: 70px;
  height: 25px;
}
