@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.first {
  height: 100vh;
  background-image: url(da.jpg);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.first > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.first > .contents > h2 {
  text-align: center;
  color: white;
  font-size: 80px;
  line-height: 1.5;
  font-family: GowunDodum-Regular;
}
