.third {
  background-color: #efefef;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
}

.contents {
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}
.third > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.third > .contents > h6 {
  font-size: 18px;
  color: #757575;
}

.third > .contents > h2 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 30px;
  line-height: 1.5;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.firstimg {
  width: 400px;
  height: 500px;
  background-image: url(style1.jpg);
  background-size: cover;
  border-radius: 15px;
}
.secondimg {
  width: 400px;
  height: 500px;
  background-image: url(style2.jpg);
  background-size: cover;
  border-radius: 15px;
}

.container > .firstimg > h6 {
  text-align: center;
  color: white;
  margin-top: 200px;
  line-height: 2;
}

.container > .secondimg > h6 {
  text-align: center;
  color: white;
  margin-top: 200px;
  line-height: 2;
}

.container > .firstimg > h3 {
  text-align: center;
  color: white;
  line-height: 2;
  font-weight: bold;
  font-size: 25px;
}

.container > .secondimg > h3 {
  text-align: center;
  color: white;
  line-height: 2;
  font-weight: bold;
  font-size: 25px;
}

button {
  border: none;
  border-radius: 20px;
  padding: 14px 16px;
  font-weight: bold;
  color: gray;
  margin-left: 150px;
  margin-top: 30px;
}

@media screen and (max-width: 760px) {
  .third > .contents {
    max-width: 400px;
    text-align: center;
  }

  .third > .container {
    flex-direction: column;
  }
}
